@import "../variables";

.accordionItem {
  margin: 8px;
  box-shadow: 0 5px 13px $shadow;
  margin-bottom: 16px;
  .accordion__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
}

.accordionButton {
  background-color: #fff;
  border: none;
  padding: 16px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.accordionContent {
  overflow: hidden;
  display: flex;
  span {
    padding: 16px;
    font-size: 15px;
  }
}