$black: #212529;
$white: #fff;
$link: #00B2A4;
$primary: #00B2A4;
$primary_hover: #069488;
$nunito: 'Nuntio', sans-serif;
$roboto: 'Roboto', sans-serif;
$shadow: #C4C4C4;
$tarrifs: #f8f9fa;
$tarrifs_border: #e9ecef;
$muted: #8492a6;
$footer: #202942;
$footer_phone: #adb5bd;
